<header class="no-text-select">
  <div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-light row">
      <a class="navbar-brand" href="#">Egg Voter</a>
      <div id="navbar" class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="#">Page</a>
        <a class="nav-item nav-link" href="#">Page</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Page</a>
      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
