<header class="no-text-select">
  <div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-light row">
      <a class="navbar-brand" routerLink="/">Egg Voter</a>
      <div id="navbar" class="navbar-nav mr-auto">
      </div>
      <div class="navbar-nav">
        <a *ngIf="!user.name" class="nav-item nav-link" routerLink="/login">Login</a>
        <a *ngIf="user.name" class="nav-item nav-link" routerLink="/login">{{user.name}}</a>
      </div>
    </nav>
    </div>
</header>

<div id="content">
  <router-outlet></router-outlet>
</div>
